# Classification Assignment

# Import Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Dataset

The New York City Airbnb Open Data is used from Kaggle

In [3]:
#load data 
df = pd.read_csv('AB_NYC_2019.csv')

# Features

In [4]:
features = ['neighbourhood_group','room_type','latitude', 'longitude', 'price','minimum_nights','number_of_reviews','reviews_per_month','calculated_host_listings_count','availability_365']
df = df[features]
df

,neighbourhood_group,room_type,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Brooklyn,Private room,40.64749,-73.97237,149,1,9,0.21,6,365
1,Manhattan,Entire home/apt,40.75362,-73.98377,225,1,45,0.38,2,355
2,Manhattan,Private room,40.80902,-73.94190,150,3,0,NaN,1,365
3,Brooklyn,Entire home/apt,40.68514,-73.95976,89,1,270,4.64,1,194
4,Manhattan,Entire home/apt,40.79851,-73.94399,80,10,9,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...
48890,Brooklyn,Private room,40.67853,-73.94995,70,2,0,NaN,2,9
48891,Brooklyn,Private room,40.70184,-73.93317,40,4,0,NaN,2,36
48892,Manhattan,Entire home/apt,40.81475,-73.94867,115,10,0,NaN,1,27
48893,Manhattan,Shared room,40.75751,-73.99112,55,1,0,NaN,6,2
48894,Manhattan,Private room,40.76404,-73.98933,90,7,0,NaN,1,23

In [6]:
#Find feature with missing values. 
df.isnull(). sum()

neighbourhood_group                   0
room_type                             0
latitude                              0
longitude                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [7]:
#fill in the missing values with 0
df['reviews_per_month'] = df.reviews_per_month.fillna(0)

In [8]:
#check
df.isnull(). sum()

neighbourhood_group               0
room_type                         0
latitude                          0
longitude                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

# Question 1

What is the most frequent observation (mode) for the column 'neighbourhood_group'?

In [9]:
df.neighbourhood_group.mode()

0    Manhattan
dtype: object

# Split the data

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
# test and full train partitions , seed =42
df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=42)

In [24]:
# train and val partitions
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

In [25]:
#check sizes
len(df_train), len(df_val), len (df_test)

(29337, 9779, 9779)

In [26]:
#make index not shuffeled 
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [27]:
df_train

,neighbourhood_group,room_type,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Brooklyn,Entire home/apt,40.72760,-73.94495,99,3,29,0.70,13,50
1,Manhattan,Private room,40.70847,-74.00498,57,1,0,0.00,1,7
2,Bronx,Entire home/apt,40.83149,-73.92766,70,40,0,0.00,1,0
3,Brooklyn,Entire home/apt,40.66448,-73.99407,130,2,3,0.08,1,0
4,Manhattan,Private room,40.74118,-74.00012,110,1,48,1.80,2,67
...,...,...,...,...,...,...,...,...,...,...
29332,Brooklyn,Private room,40.71748,-73.95685,50,6,5,0.13,1,0
29333,Brooklyn,Private room,40.66397,-73.98538,125,1,7,0.17,2,0
29334,Manhattan,Private room,40.79994,-73.97001,299,1,1,0.64,1,88
29335,Brooklyn,Private room,40.69585,-73.96344,65,60,0,0.00,1,0
29336,Brooklyn,Entire home/apt,40.64438,-73.95484,92,7,15,0.49,2,281

In [28]:
#target variable y 
y_train = df_train.price.values
y_val = df_val.price.values
y_test = df_test.price.values

In [29]:
#delete price values from all dfs
del df_train ['price']
del df_val ['price']
del df_test ['price']

# Question 2

Create the correlation matrix for the numerical features of your train dataset.
In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.

In [31]:
df_train.dtypes

neighbourhood_group                object
room_type                          object
latitude                          float64
longitude                         float64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [20]:
categorical = ["neighbourhood_group", "room_type"]
numerical = ['latitude','longitude', 'minimum_nights','number_of_reviews','reviews_per_month','calculated_host_listings_count','availability_365']

In [33]:
corr = df_train.corr()
corr

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
latitude,1.000000,0.080301,0.027441,-0.006246,-0.007159,0.019375,-0.005891
longitude,0.080301,1.000000,-0.060660,0.055084,0.134642,-0.117041,0.083666
minimum_nights,0.027441,-0.060660,1.000000,-0.076020,-0.120703,0.118647,0.138901
number_of_reviews,-0.006246,0.055084,-0.076020,1.000000,0.590374,-0.073167,0.174477
reviews_per_month,-0.007159,0.134642,-0.120703,0.590374,1.000000,-0.048767,0.165376
calculated_host_listings_count,0.019375,-0.117041,0.118647,-0.073167,-0.048767,1.000000,0.225913
availability_365,-0.005891,0.083666,0.138901,0.174477,0.165376,0.225913,1.000000

What are the two features that have the biggest correlation in this dataset?

reviews_per_month and number_of_reviews

# Make price binary

In [34]:
price_val_bin = (y_val >= 152).astype(int)
price_train_bin = (y_train >= 152).astype(int)
price_test_bin = (y_test >= 152).astype(int)

# Question 3

Calculate the mutual information score with the (binarized) price for the two categorical variables that we have. Use the training set only.
Which of these two variables has bigger score?
Round it to 2 decimal digits using round(score, 2)

In [37]:
from sklearn .metrics import mutual_info_score

In [41]:
mutual_info_score(price_train_bin, df_train.neighbourhood_group).round(2)

0.05

In [40]:
mutual_info_score(price_train_bin, df_train.room_type).round(2)

0.14

# Question 4

# Now let's train a logistic regression
Remember that we have two categorical variables in the data. Include them using one-hot encoding.
Fit the model on the training dataset.
To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42)
Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

In [42]:
from sklearn.feature_extraction import DictVectorizer

In [51]:
# include categorical variables using one-hot encoding
train_dict = df_train.to_dict(orient='records')
dv = DictVectorizer()
X_train = dv.fit_transform(train_dict)

In [52]:
X_train

<29337x15 sparse matrix of type '<class 'numpy.float64'>'
	with 264033 stored elements in Compressed Sparse Row format>

In [53]:
from sklearn.linear_model import LogisticRegression

In [59]:
#LogisticRegression
model = LogisticRegression(solver='liblinear', C=1.0, random_state=42, max_iter=500)
model.fit(X_train, price_train_bin)

LogisticRegression(max_iter=500, random_state=42, solver='liblinear')

In [60]:
val_dict = df_val.to_dict(orient='records')
X_val = dv.fit_transform(val_dict)

In [61]:
y_pred = model.predict_proba(X_val)[:, 1]

In [58]:
#Calculate the accuracy on the validation dataset and round it to 2 decimal digits.
sell_cutoff = (y_pred >= 0.5)
orig_accuracy = round((price_val_bin == sell_cutoff).mean(),2)
print(orig_accuracy)

0.79

# Question 5

In [64]:
#find the least useful one using the feature elimination technique.
features = ["neighbourhood_group", "room_type", "number_of_reviews", "reviews_per_month"]

In [74]:
#function for calculating feature has the smallest difference
for g in features:
    df_train_temp = df_train.drop(g, 1)
    train_dict_temp = df_train_temp.to_dict(orient='records')
    dv_temp = DictVectorizer()
    X_train_temp = dv_temp.fit_transform(train_dict_temp)
    
    model.fit(X_train_temp, price_train_bin)
    
    df_val_temp = df_val.drop(g, 1)
    val_dict_temp = df_val_temp.to_dict(orient='records')
    X_val_temp = dv_temp.fit_transform(val_dict_temp)

    y_pred_temp = model.predict_proba(X_val_temp)[:, 1]

    sell_cutoff_temp = (y_pred_temp >= 0.5)

    acc_temp = (price_val_bin == sell_cutoff_temp).mean()

    diff_acc = abs(orig_accuracy - acc_temp)

    print(f'{diff_acc}')

/var/folders/5s/020k6xms3yn8kwdq_4y_8zl00000gn/T/ipykernel_6872/3150155440.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_train_temp = df_train.drop(g, 1)
/var/folders/5s/020k6xms3yn8kwdq_4y_8zl00000gn/T/ipykernel_6872/3150155440.py:10: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_val_temp = df_val.drop(g, 1)
/var/folders/5s/020k6xms3yn8kwdq_4y_8zl00000gn/T/ipykernel_6872/3150155440.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_train_temp = df_train.drop(g, 1)

0.040127824930974554

/var/folders/5s/020k6xms3yn8kwdq_4y_8zl00000gn/T/ipykernel_6872/3150155440.py:10: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_val_temp = df_val.drop(g, 1)
/var/folders/5s/020k6xms3yn8kwdq_4y_8zl00000gn/T/ipykernel_6872/3150155440.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_train_temp = df_train.drop(g, 1)

0.06006851416300241

/var/folders/5s/020k6xms3yn8kwdq_4y_8zl00000gn/T/ipykernel_6872/3150155440.py:10: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_val_temp = df_val.drop(g, 1)
/var/folders/5s/020k6xms3yn8kwdq_4y_8zl00000gn/T/ipykernel_6872/3150155440.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_train_temp = df_train.drop(g, 1)

0.0014919725943347562
0.0007761529808774092

/var/folders/5s/020k6xms3yn8kwdq_4y_8zl00000gn/T/ipykernel_6872/3150155440.py:10: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_val_temp = df_val.drop(g, 1)

# Question 6

In [80]:
#apply the logarithmic transformation to price column.
y_train_log = np.log1p(y_train)
y_val_log = np.log1p(y_val)
y_test_log = np.log1p(y_test)

In [81]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [82]:
alpha = [0, 0.01, 0.1, 1, 10]

for i in alphas:
    ridge_model_temp = Ridge(alpha=i)
    ridge_model_temp.fit(X_train, y_train_log)
    ridge_predictions = ridge_model_temp.predict(X_val)

    Root_MeanSquaredError = np.sqrt(mean_squared_error(y_val_log, ridge_predictions))

    print(f'RMSE of alpha {i}: {round(Root_MeanSquaredError, 3)}')

RMSE of alpha 0: 0.506
RMSE of alpha 0.01: 0.506
RMSE of alpha 0.1: 0.506
RMSE of alpha 1: 0.506
RMSE of alpha 10: 0.506

# Thank you :)